:root {
  --primary-color: #153d77;
  --secondary-color: #607d8b;
  --success-color: #198754;
  --error-color: #ff1744;
  --white-color: #fff;
  --background-color: #dedede;
  --pdf-color: #f40f02;
  --word-document-color: #2b579a;
}


/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border-right: 1px solid black;
}
/* Style page content */
.main {
  margin-left: 300px; /* Same as the width of the sidebar */
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
}

